In [1]:
import pandas as pd
import numpy as np
from itertools import combinations

In [2]:
df = pd.read_csv('data/data.csv',sep=":")

In [6]:
df.head(10)

,receipt_id,company_id,matched_transaction_id,feature_transaction_id,DateMappingMatch,AmountMappingMatch,DescriptionMatch,DifferentPredictedTime,TimeMappingMatch,PredictedNameMatch,ShortNameMatch,DifferentPredictedDate,PredictedAmountMatch,PredictedTimeCloseMatch
0,"10,000",10000,"10,468","10,000",0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
1,"10,000",10000,"10,468","10,001",0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
2,"10,000",10000,"10,468","10,003",0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
3,"10,000",10000,"10,468","10,004",0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
4,"10,000",10000,"10,468","10,005",0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
5,"10,000",10000,"10,468","10,006",0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
6,"10,000",10000,"10,468","10,008",0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
7,"10,000",10000,"10,468","10,009",0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
8,"10,000",10000,"10,468","10,010",0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
9,"10,000",10000,"10,468","10,011",0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0

In [75]:
df.describe()

,company_id,DateMappingMatch,AmountMappingMatch,DescriptionMatch,DifferentPredictedTime,TimeMappingMatch,PredictedNameMatch,ShortNameMatch,DifferentPredictedDate,PredictedAmountMatch,PredictedTimeCloseMatch,Target,Score,Max_Score,Predicted
count,12034.000000,12034.000000,12034.000000,12034.000000,12034.000000,12034.000000,12034.000000,12034.000000,12034.000000,12034.000000,12034.000000,12034.000000,12034.000000,12034.000000,12034.000000
mean,27247.797906,0.217901,0.035178,0.026903,0.986455,0.013877,0.030268,0.037893,0.753532,0.001676,0.076533,0.071215,-2.942213,-0.714997,0.214891
std,12024.542988,0.384535,0.136234,0.146244,0.115597,0.116987,0.160808,0.190945,0.430972,0.033556,0.265860,0.257194,2.075818,2.947373,0.410764
min,10000.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-4.158241,-4.158241,0.000000
25%,20000.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,-4.158241,-3.408386,0.000000
50%,30000.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,-4.158241,-0.274282,0.000000
75%,30000.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,-1.819719,1.051111,0.000000
max,50000.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,8.423962,8.423962,1.000000

In [8]:
df.dtypes

receipt_id                  object
company_id                   int64
matched_transaction_id      object
feature_transaction_id      object
DateMappingMatch           float64
AmountMappingMatch         float64
DescriptionMatch           float64
DifferentPredictedTime     float64
TimeMappingMatch           float64
PredictedNameMatch         float64
ShortNameMatch             float64
DifferentPredictedDate     float64
PredictedAmountMatch       float64
PredictedTimeCloseMatch    float64
dtype: object

In [9]:
df['Target'] = np.where(df.matched_transaction_id==df.feature_transaction_id,1,0)

In [85]:
print(df.columns)

Index(['receipt_id', 'company_id', 'matched_transaction_id',
       'feature_transaction_id', 'DateMappingMatch', 'AmountMappingMatch',
       'DescriptionMatch', 'DifferentPredictedTime', 'TimeMappingMatch',
       'PredictedNameMatch', 'ShortNameMatch', 'DifferentPredictedDate',
       'PredictedAmountMatch', 'PredictedTimeCloseMatch', 'Target', 'Score',
       'Max_Score', 'Predicted'],
      dtype='object')

In [47]:
feature_cols = ['DateMappingMatch', 'AmountMappingMatch','DescriptionMatch','TimeMappingMatch','PredictedNameMatch', 'ShortNameMatch','PredictedAmountMatch', 'PredictedTimeCloseMatch','DifferentPredictedTime','DifferentPredictedDate']

Normalizing the feature columns

In [74]:
df[feature_cols] = df[feature_cols].apply(lambda x: (x-x.min())/ (x.max()-x.min()), axis=0)

### Calculating Weights for features using URMC Algorithm

In [76]:
cols_and_weights = {k: 0 for k in feature_cols}

for i in combinations(feature_cols,2):
    
    corr = df[i[0]].corr(df[i[1]])
    w1=cols_and_weights[i[0]]
    w2=cols_and_weights[i[1]]
    
    if corr>=0:
        if w1>=0 and w2>=0:
            w1=w1+corr
            w2=w2+corr
        elif w1<0 and w2<0:
            w1=w1-corr
            w2=w2-corr
        elif w1>=0 and w2<0:
            w1=w1-corr
            w2=w2+corr
        else:
            w1=w1+corr
            w2=w2-corr
    else:
        if w1>=0 and w2>=0:
            if w1<w2:
                w1=w1+corr
                w2=w2-corr
            else:
                w1=w1-corr
                w2=w2+corr

        elif w1<0 and w2<0:
            if w1<w2:
                w1=w1+corr
                w2=w2-corr
            else:
                w1=w1-corr
                w2=w2+corr
            w1=w1-corr
            w2=w2-corr
        elif w1>=0 and w2<0:
            w1=w1-corr
            w2=w2+corr
        else:
            w1=w1+corr
            w2=w2-corr

    cols_and_weights[i[0]]=w1
    cols_and_weights[i[1]]=w2

In [77]:
print(cols_and_weights)

{'DateMappingMatch': 2.0813790721477865, 'AmountMappingMatch': 0.2808079170071903, 'DescriptionMatch': 0.9373190580664719, 'TimeMappingMatch': 2.1428525144566497, 'PredictedNameMatch': 1.3861790221265509, 'ShortNameMatch': 1.229578443415623, 'PredictedAmountMatch': -0.19402420633979936, 'PredictedTimeCloseMatch': 1.3194918744941342, 'DifferentPredictedTime': -2.155777642109633, 'DifferentPredictedDate': -2.002463257365301}

In [78]:
df['Score'] = 0
for col,weight in cols_and_weights.items():
    df['Score']+=df[col]*weight

In [84]:
df['Max_Score'] = df.groupby('matched_transaction_id')['Score'].transform('max')
df['Predicted'] = np.where(df['Score']==df['Max_Score'],1,0)

In [83]:
df[(df['Target']==1) & (df['Predicted']==1)]

,receipt_id,company_id,matched_transaction_id,feature_transaction_id,DateMappingMatch,AmountMappingMatch,DescriptionMatch,DifferentPredictedTime,TimeMappingMatch,PredictedNameMatch,ShortNameMatch,DifferentPredictedDate,PredictedAmountMatch,PredictedTimeCloseMatch,Target,Score,Max_Score,Predicted
25,"10,001",10000,"10,605","10,605",0.90,0.000000,0.00,1.0,0.0,0.00,0.0,0.0,0.0,0.0,1,-0.282536,-0.282536,1
27,"10,002",10000,"10,286","10,286",0.95,0.000000,0.00,1.0,0.0,1.00,0.0,0.0,0.0,0.0,1,1.207711,1.207711,1
38,"10,003",10000,"10,412","10,412",0.85,0.000000,0.00,1.0,0.0,0.00,1.0,0.0,0.0,0.0,1,0.842973,0.842973,1
105,"10,007",10000,"10,360","10,360",0.85,0.000000,0.00,1.0,0.0,0.00,0.0,0.0,0.0,0.0,1,-0.386605,-0.386605,1
138,"10,009",10000,"10,484","10,484",0.95,0.000000,0.00,1.0,0.0,0.00,1.0,0.0,0.0,0.0,1,1.051111,1.051111,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11973,"50,220",50000,"50,363","50,363",0.95,0.000000,0.50,1.0,0.0,1.00,1.0,0.0,0.0,1.0,1,4.225441,4.225441,1
11980,"50,222",50000,"50,244","50,244",0.95,0.000000,0.75,1.0,0.0,0.75,0.0,0.0,0.0,0.0,1,1.564156,1.564156,1
11993,"50,223",50000,"50,342","50,342",0.95,0.444444,0.00,0.0,1.0,0.00,1.0,0.0,0.0,1.0,1,6.794036,6.794036,1
12006,"50,224",50000,"50,050","50,050",0.95,0.000000,0.50,1.0,0.0,0.00,0.0,0.0,0.0,0.0,1,0.290192,0.290192,1
12033,"50,226",50000,"50,368","50,368",0.95,0.000000,0.00,1.0,0.0,0.00,0.0,0.0,0.0,1.0,1,1.141024,1.141024,1

In [82]:
df[df['matched_transaction_id']=="50,196"]

,receipt_id,company_id,matched_transaction_id,feature_transaction_id,DateMappingMatch,AmountMappingMatch,DescriptionMatch,DifferentPredictedTime,TimeMappingMatch,PredictedNameMatch,ShortNameMatch,DifferentPredictedDate,PredictedAmountMatch,PredictedTimeCloseMatch,Target,Score,Max_Score,Predicted
11578,"50,158",50000,"50,196","50,193",0.00,0.000000,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0,-4.158241,1.193408,0
11579,"50,158",50000,"50,196","50,194",0.75,0.000000,0.5,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0,1.193408,1.193408,1
11580,"50,158",50000,"50,196","50,195",0.75,0.000000,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0,-0.594743,1.193408,0
11581,"50,158",50000,"50,196","50,196",0.95,0.444444,0.5,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1,0.414996,1.193408,0
11582,"50,158",50000,"50,196","50,197",0.95,0.000000,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0,-0.178468,1.193408,0